

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLocationLabel" jhiTranslate="c4SgApp.location.home.createOrEditLabel">Create or edit a Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!location.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="location.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="c4SgApp.location.streetAddress1" for="field_streetAddress1">Street Address 1</label>
            <input type="text" class="form-control" name="streetAddress1" id="field_streetAddress1"
                [(ngModel)]="location.streetAddress1"
            maxlength="100" />
            <div [hidden]="!(editForm.controls.streetAddress1?.dirty && editForm.controls.streetAddress1?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.streetAddress1?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="c4SgApp.location.streetAddress2" for="field_streetAddress2">Street Address 2</label>
            <input type="text" class="form-control" name="streetAddress2" id="field_streetAddress2"
                [(ngModel)]="location.streetAddress2"
            maxlength="100" />
            <div [hidden]="!(editForm.controls.streetAddress2?.dirty && editForm.controls.streetAddress2?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.streetAddress2?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="c4SgApp.location.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="location.city"
            maxlength="100" />
            <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.city?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="c4SgApp.location.stateProvince" for="field_stateProvince">State Province</label>
            <input type="text" class="form-control" name="stateProvince" id="field_stateProvince"
                [(ngModel)]="location.stateProvince"
            maxlength="100" />
            <div [hidden]="!(editForm.controls.stateProvince?.dirty && editForm.controls.stateProvince?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stateProvince?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="c4SgApp.location.postalCode" for="field_postalCode">Postal Code</label>
            <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                [(ngModel)]="location.postalCode"
            maxlength="100" />
            <div [hidden]="!(editForm.controls.postalCode?.dirty && editForm.controls.postalCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.postalCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="c4SgApp.location.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="location.country">
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id === location.country?.id ? location.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
